<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <listener>
    <listener-class>dao.config.InitialisationDaoFactory</listener-class>
  </listener>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>servlet.Accueil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthentificationAdmin</servlet-name>
    <servlet-class>servlet.AuthentificationAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Authentification</servlet-name>
    <servlet-class>servlet.Authentification</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Espace</servlet-name>
    <servlet-class>servlet.Espace</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Gestion</servlet-name>
    <servlet-class>servlet.gestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthentificationAdmin</servlet-name>
    <url-pattern>/authentificationAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Authentification</servlet-name>
    <url-pattern>/authentification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Espace</servlet-name>
    <url-pattern>/espace</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gestion</servlet-name>
    <url-pattern>/gestion</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>